<div class="card critical-clear" data-animate>
  <a href="{{ article.url }}" class="card__wrapper card--article">
    {% if article.image %}
      {% assign article_image = article.image %}
    {% else %}
      {% assign article_image = article.products.first %}
    {% endif %}

    {% if article_image != blank %}
      {% include 'card-image', type: article_image, grid_style: grid_style %}
    {% endif %}

    <div class="card__info">
        <h3 class="card__name">{{ article.title }}</h3>
      {% if section.settings.blog_show_date %}
        <span class="card__date text-small--uppercase">
          {{ article.published_at | date: "%d-%m-%Y" }} | by {{ article.author  }}
        </span>
      {% endif %}
    
      <div class="card__excerpt rte">
        {% if article.excerpt.size > 0 %}
          {{ article.excerpt }}
        {% else %}
          {{ article.content | strip_html | truncatewords: 30 }}
        {% endif %}
      </div>
      
      <div class="read-more-btn">
      
        <button>READ MORE</button>
      
      </div>
      
      
    </div>
  </a>
</div>
